body{
    background-color: purple;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.txt{
    margin-top: 5%;
    background-color: white;
    border: 5px black solid;
    border-radius: 15px;
    text-align: center;
    font-size: 10px;
    padding: 5px;
    width: 350px;
    height: 350px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

table{
    margin-top: 30px;
    border-collapse: collapse;
    border: 1px solid black;
}

td {
    background-color: rgba(149, 0, 149, 0.167);
    padding: 10px;
    font-size: 15px;
}

th {
    background-color: rgba(149, 0, 149, 0.4);
    padding: 20px;
    font-size: 15px;
}
